*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/.gitignore
.idea/.name
.idea/compiler.xml
.idea/git_toolbox_blame.xml
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
__MACOSX/._DinoGame
__MACOSX/DinoGame/._.cursor
__MACOSX/DinoGame/._.DS_Store
__MACOSX/DinoGame/.cursor/._rules
__MACOSX/DinoGame/app/._.DS_Store
__MACOSX/DinoGame/app/._cursorrules.txt
__MACOSX/DinoGame/app/src/main/java/com/evan/dino/._model
__MACOSX/DinoGame/app/src/main/java/com/evan/dino/._utils
__MACOSX/DinoGame/app/src/main/java/com/evan/dino/activity/._GamingActivity.java
__MACOSX/DinoGame/app/src/main/java/com/evan/dino/manager/._GameManager.java
__MACOSX/DinoGame/app/src/main/java/com/evan/dino/manager/._ObstacleManager.java
__MACOSX/DinoGame/app/src/main/java/com/evan/dino/model/._Point.java
__MACOSX/DinoGame/app/src/main/java/com/evan/dino/model/._Scope.java
__MACOSX/DinoGame/app/src/main/java/com/evan/dino/utils/._RunTask.java
__MACOSX/DinoGame/app/src/main/java/com/evan/dino/viewmodel/._GamingViewModel.java
app/cursorrules.txt
